* {
    font-family: Trebuchet MS, sans-serif;
}

body {
    background: BlanchedAlmond;
    text-align: center;
}

aside {
    width: 20%;
    float: left;
}

aside img {
    width: 100%;
}

main {
    width: 80%;
}

nav {
    text-align: left;
    margin-left: 10%;
}

section {
    background-color: Salmon;
    margin-left: 10%;
    padding: 10px;
    height: 250px;
}

#sec1 {
    display: block;
}

#sec2 {
    display: none;
}

#sec3 {
    display: none;
}

footer {
    clear: both;
}

button {
    width: 26%;
    color: white;
    border: none;
    font-size: 200%;
}

#btn1 {
    background-color: Salmon;
}

#btn2 {
    background-color: Crimson;
}

#btn3 {
    background-color: Crimson;
}

.wzory {
    width:70px;
    margin: 5px;
    border-radius: 100%;
}